* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: black;
    color: white;
    font-size: large;
}

div {
    margin: auto;
    background-color: lightgray;
}

img {
    width: 300px;
    height: auto;
}